@layer base {
	:root {
		@apply leading-[1.5]
      subpixel-antialiased;
	}

	@font-face {
		font-family: 'Saira';
		font-optical-sizing: auto;
		font-weight: 100;
		font-style: normal;
		font-variation-settings: 'wdth' 100;
	}
}
