@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}

@view-transition {
	navigation: auto;
}

/* ::view-transition-new(:root) {
}
::view-transition-old(:root) {
} */

/* ::view-transition-group; */
::view-transition-group(container-transform) {
	animation-duration: 0.6s;
}

::view-transition-group(fade-through) {
	animation-duration: 0.2s;
}
