@theme {
	--color-plasma-50: rgb(240, 249, 33);
	--color-plasma-100: rgb(248, 225, 37);
	--color-plasma-200: rgb(253, 180, 47);
	--color-plasma-300: rgb(245, 139, 71);
	--color-plasma-400: rgb(227, 104, 95);
	--color-plasma-500: rgb(204, 71, 120);
	--color-plasma-600: rgb(173, 39, 147);
	--color-plasma-700: rgb(136, 8, 166);
	--color-plasma-800: rgb(92, 1, 166);
	--color-plasma-900: rgb(46, 5, 149);
	--color-plasma-950: rgb(0, 0, 4);
}
