@layer components {
	.ui-shell {
		@apply /* important for JS scroll behavior */
      relative

      /* w-full */
      w-dvw

      /* min-h-full */
      min-h-dvh
      /* h-full */

      /* max-h-full */
      /* overflow-y-scroll */;
	}

	.ui-shell-navbar-slot {
		@apply z-40
      fixed

      h-auto landscape:h-full landscape:laptop:h-auto
      w-full landscape:w-auto landscape:laptop:w-full

      laptop:landscape:top-0
      portrait:bottom-0 laptop:portrait:bottom-0
      landscape:right-0;
	}

	.ui-shell-navbar {
		@apply flex
		  landscape:flex-col-reverse portrait:flex-row
			laptop:landscape:flex-row laptop:portrait:flex-row

			h-[var(--ui-navbar-size)]
			landscape:h-full
			landscape:laptop:h-[var(--ui-navbar-size)]

      w-full
      landscape:w-[var(--ui-navbar-size)]
      landscape:laptop:w-full;

		.ui-shell-navbar-section {
			@apply flex
		  landscape:flex-col-reverse portrait:flex-row
			laptop:landscape:flex-row laptop:portrait:flex-row
			h-full w-full;
		}

		.ui-shell-navbar-section--central {
			@apply laptop:min-w-[40rem]
			  /* justify-around */
				justify-between
				laptop:justify-normal
				/* laptop:justify-items-start */
			  items-center;
		}

		.ui-shell-navbar-section--aside {
			@apply hidden laptop:flex;
		}
	}

	.ui-shell-navbar-width-limiter {
		@apply w-full laptop:max-w-[40rem]
      mx-auto
      h-full;
	}

	.ui-shell-main {
		@apply z-40
      min-w-full
      w-auto

      min-h-dvh
      h-auto

      laptop:pt-[var(--ui-navbar-size)]
      portrait:pb-[var(--ui-navbar-size)]
      landscape:pr-[var(--ui-navbar-size)]
      landscape:laptop:pr-0;
	}
}
