/* canon:
  Flecto -- ? Custom responsive breakpoints?

  Canon Typographia -- Pro Rata Rem, Fractio Rem, Metrica
  
  Scena Visius -- ? Layout library : Pro Rata, Fractio?
*/

@import "tailwindcss/base";

@import "tailwindcss/utilities";
@import "./metrica-utilities.pcss";

@import "tailwindcss/components";
@import "./canon-components.pcss";