@import "tailwindcss/base";

@import "tailwindcss/utilities";
@import "./metrica-utilities.pcss";
@import "./scena-utilities.pcss";
@import "./elementa-utilities.pcss";

@import "tailwindcss/components";
@import "./canon-components.pcss";
@import "./scena-components.pcss";
@import "./elementa-components.pcss";