@import 'tailwindcss';

@import './shared/breakpoints.devices.css';
@import './shared/breakpoints.root.rem.css';
@import './shared/breakpoints.orientation.css';

@import './shared/colors.eigengrau.css';

@import './shared/colors.inferno.css';
@import './shared/colors.viridis.css';

@import './shared/colors.ukraine.css';

@import './shared/base.view-transitions.css';
@import './shared/base.root.css';
@import './shared/base.tags.css';

@import './shared/components.container.css';
@import './shared/components.every-layout.css';
@import './shared/components.layouts.css';
@import './shared/components.shell.css';

@theme {
	--tw-ring-offset-color: var(--color-indigo-500) !important;
	--ui-navbar-size: 4rem;

	--font-sans: 'IBM Plex Sans', sans-serif;
	--font-serif: 'IBM Plex Serif', serif;
	--font-mono: 'IBM Plex Mono', monospace;

	--font-eb-garamond: 'EB Garamond', Garamond, serif;
}

@layer base {
	body {
		@apply font-serif;
	}
}

@layer components {
	/* Container - contains - it imposes outer limits */
	.ui-el-container {
		@apply /* max-w-[20rem] */
      tablet:portrait:max-w-[40rem]
      tablet:landscape:max-w-[48rem]
      laptop:max-w-[48rem]
      desktop-4k:max-w-[64rem];
	}

	.ui-el-stack {
	}

	.ui-el-box {
	}

	.ui-el-center {
		/* max-inline-size: 60ch; */
		max-inline-size: 40rem;
		margin-inline: auto;
		box-sizing: content-box;

		@apply flex flex-col items-center;
	}

	.ui-el-cover {
		@apply flex flex-col;
		min-block-size: 100dvh;

		& > * {
			margin-block: 1rem;
		}

		& > .ui-el-cover-hero {
			margin-block: auto;
		}

		& > :first-child:not(.ui-el-cover-hero) {
			margin-block-start: 0;
		}

		& > :last-child:not(.ul-el-cover-hero) {
			margin-block-end: 0;
		}
	}
}
