@import 'tailwindcss';

@import './shared/breakpoints.devices.css';

@import './shared/colors.eigengrau.css';
@import './shared/colors.inferno.css';
@import './shared/colors.plasma.css';
@import './shared/colors.magma.css';
@import './shared/colors.ukraine.css';
@import './shared/colors.viridis.css';

@import './shared/base.root.css';
@import './shared/base.tags.css';

@import './shared/components.container.css';
@import './shared/components.every-layout.css';
@import './shared/components.layouts.css';
@import './shared/components.shell.css';

@theme {
	--ui-navbar-size: 4rem;

	--font-sans: 'IBM Plex Sans', sans-serif;
	--font-serif: 'IBM Plex Serif', serif;
	--font-mono: 'IBM Plex Mono', monospace;
}

@layer base {
	html,
	body {
		@apply bg-sky-950 text-slate-200 font-serif;
	}
}

@layer components {
	.ui-photo {
		@apply w-24 h-24;
	}

	.ui-link--out {
		@apply after:content-['_↗'];
	}

	.ui-splash {
		@apply absolute
      top-0
      left-0
      w-full
      h-dvh;
	}
}

@utility bg-garage {
	@apply bg-local bg-center bg-cover bg-black;

	background-image:
		linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/images/garage.jpg');
}

@utility bg-burger {
	@apply bg-black bg-center bg-cover;

	background-image:
		linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25)),
		url('/images/burger-with-knife-in-it.jpg');
}

@utility bg-ice {
	@apply bg-center bg-cover bg-cyan-300 text-cyan-950;

	background-image:
		linear-gradient(rgba(0, 0, 0, 0.125), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.125)),
		url('/images/glowing-ice.jpg');
}
