@import "tailwindcss/base";


@import "tailwindcss/components";
@import "./lib/canon/canon-components.pcss";
@import "./lib/elementa/elementa-components.pcss";

@import "./index-components.pcss";


@import "tailwindcss/utilities";
@import "./lib/canon/metrica-utilities.pcss";
@import "./lib/elementa/elementa-utilities.pcss";
