@import 'tailwindcss';

@import './shared/breakpoints.devices.css';

@import './shared/colors.ukraine.css';

@import './shared/colors.inferno.css';
@import './shared/colors.viridis.css';

@import './shared/base.root.css';
@import './shared/base.tags.css';

@import './shared/components.container.css';
@import './shared/components.every-layout.css';
@import './shared/components.shell.css';

@theme {
	--ui-navbar-size: 4rem;
	--font-fira-sans: 'Fira Sans', 'sans-serif';
	--font-cinzel: 'Cinzel', 'serif';
	--font-cinzel-decorative: 'Cinzel Decorative', 'serif';
	--font-saira: 'Saira', 'sans-serif';
}

@layer base {
	@font-face {
		font-family: 'Saira';
		font-optical-sizing: auto;
		font-weight: 100;
		font-style: normal;
		font-variation-settings: 'wdth' 50;
	}
}
@layer components {
}
