@import 'tailwindcss';

@theme {
	--font-display: 'e-Ukraine', 'sans-serif';
	--font-sans: 'e-Ukraine', 'sans-serif';
	--font-sefif: 'e-Ukraine', 'sans-serif';
}

@layer base {
	@font-face {
		font-family: 'e-Ukraine';
		src: url('/fonts/e-Ukraine/e-Ukraine-Regular.otf') format('opentype');
		font-weight: 400;
	}

	@font-face {
		font-family: 'e-Ukraine Head';
		src: url('/fonts/e-Ukraine Head/e-UkraineHead-Regular.otf') format('opentype');
		font-weight: 400;
	}

	html {
		@apply h-full;
	}

	body {
		@apply h-full;
	}
}
